[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
url2kindle = {editable = true,path = "."}
requests = "*"

[dev-packages]
twine = "*"
pylint = "*"
flake8 = "*"
black = "*"
pytest = "*"
rope = "*"

[pipenv]
allow_prereleases = true
